body {
    margin: 0;
    padding: 0;

}

.header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: #1F2937;
   
}

h1 {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px 75px 100px;
    background-color: #1F2937;
    color: #E5E7EB;

}

.hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder; 
    margin: 0;
}

.left-text {
    width: 30%;
}

.button-1 {
    -webkit-border-radius: 12;
        -moz-border-radius: 12;
        border-radius: 12px;
        font-family: Arial;
        color: #ffffff;
        font-size: 18px;
        background: #3882f6;
        padding: 10px 20px 10px 20px;
        border: solid #3882f6 2px;
        text-decoration: none;
}

.button-1:hover {
        background: #3882f6;
        background-image: -webkit-linear-gradient(top, #3882f6, #9cd7ff);
        background-image: -moz-linear-gradient(top, #3882f6, #9cd7ff);
        background-image: -ms-linear-gradient(top, #3882f6, #9cd7ff);
        background-image: -o-linear-gradient(top, #3882f6, #9cd7ff);
        background-image: linear-gradient(to bottom, #3882f6, #9cd7ff);
        text-decoration: none;
}

.middle-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.middle-img {
    display: flex;
    justify-content: space-between; 
    padding: 0 100px;
}

.middle-img img {
    border: 3px solid #3882f6;
}

.middle-p {
    display: flex;
    justify-content: space-between;
    padding: 0 100px 25px 100px;
}

.quote-box {
    background-color: #E5E7EB;
    padding: 25px 150px;
}

.quote-box p:nth-of-type(1) {
    color: #1F2937;
    text-align: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-box p:nth-of-type(2) {
    text-align: right;
    font-size: 24px;
    font-weight: bolder;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 150px;
}

.bottom-blue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    background-color: #3882f6;
    color: white;
    padding: 25px 50px;
    border: solid #3882f6 2px;
    border-radius: 12px;
}

.button-2 {
        width: 150px;
        height: 60px;
        -webkit-border-radius: 12;
        -moz-border-radius: 12;
        border-radius: 12px;
        font-family: Arial;
        color: #ffffff;
        font-size: 18px;
        background: #3882f6;
        padding: 10px 20px 10px 20px;
        border: solid #ffffff 2px;
        text-decoration: none;
}
      
.button-2:hover {
        background: #3882f6;
        background-image: -webkit-linear-gradient(top, #3882f6, #9cd7ff);
        background-image: -moz-linear-gradient(top, #3882f6, #9cd7ff);
        background-image: -ms-linear-gradient(top, #3882f6, #9cd7ff);
        background-image: -o-linear-gradient(top, #3882f6, #9cd7ff);
        background-image: linear-gradient(to bottom, #3882f6, #9cd7ff);
        text-decoration: none;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;

}